<meta charset="utf-8">
<mat-accordion>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            <b>Geoportal</b>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <p><button mat-button class="navigation-button" routerLink="geoportal" routerLinkActive="active-list-item">Geoportal</button></p>
     </mat-expansion-panel>     
</mat-accordion>
<mat-accordion>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            <b>Katastar nepokretnosti</b>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <p><button mat-button class="navigation-button" routerLink="nosiocip" routerLinkActive="active-list-item">Nosioci prava</button></p>
      <p><button mat-button class="navigation-button" routerLink="zemljiste" routerLinkActive="active-list-item">Parcele</button></p>
      <p><button mat-button class="navigation-button" routerLink="objekti" routerLinkActive="active-list-item">Objekti</button></p>
      <p><button mat-button class="navigation-button" routerLink="pravozem" routerLinkActive="active-list-item">Pravo zemljista</button></p>
      <p><button mat-button class="navigation-button" routerLink="pravoobj" routerLinkActive="active-list-item">Pravo objekta</button></p>
     </mat-expansion-panel>   
</mat-accordion>
<mat-accordion>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            <b>Šifarnici</b>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <p><button mat-button class="navigation-button" routerLink="sifarnici/tipnosiocap" routerLinkActive="active-list-item">Tip nosioca prava</button></p> 
      <p><button mat-button class="navigation-button" routerLink="sifarnici/namenazem" routerLinkActive="active-list-item">Namena zemljišta</button></p>    
      <p><button mat-button class="navigation-button" routerLink="sifarnici/namenaobj" routerLinkActive="active-list-item">Namena objekta</button></p>  
      <p><button mat-button class="navigation-button" routerLink="sifarnici/vrstaprava" routerLinkActive="active-list-item">Vrsta prava</button></p>      
      <p><button mat-button class="navigation-button" routerLink="sifarnici/spratnost" routerLinkActive="active-list-item">Spratnost</button></p>    
       </mat-expansion-panel>      
</mat-accordion>
<mat-accordion>
   <mat-expansion-panel>
      <mat-expansion-panel-header>
         <mat-panel-title>
            <b>Geoportal MK</b>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <p><button mat-button class="navigation-button" routerLink="geoportalmk" routerLinkActive="active-list-item">Geoportal MK</button></p>
     </mat-expansion-panel>     
</mat-accordion>
