<meta charset="utf-8">

<div class="box">
 
 
  <h2 class="mat-h2">Pravo Objekta</h2>
     
      
</div>

<div class="box">
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
 
  
 
      
        
        <div formGroupName="idobj"> 
          <mat-form-field appearance="standard">
            <mat-label>Objekat</mat-label>
              <mat-select [(value)]="selected1" placeholder="unesi objekat" formControlName="pnid">
                      <mat-option *ngFor="let option of idobj " [value]="option.pnid">
                        {{option.ko}} - {{option.broj}}
                      </mat-option>
                  </mat-select>
              <mat-hint>objekat</mat-hint> 
          </mat-form-field>
           </div>
        <div formGroupName="idnosilac"> 
          <mat-form-field appearance="standard">
            <mat-label>Nosilac</mat-label>
              <mat-select [(value)]="selected2" placeholder="unesi nosioca" formControlName="pnid">
                      <mat-option *ngFor="let option of idnosilac " [value]="option.pnid">
                        {{option.matbr}}
                      </mat-option>
                  </mat-select>
              <mat-hint>nosilac</mat-hint> 
          </mat-form-field>
           </div>
           <div formGroupName="idvp"> 
          <mat-form-field appearance="standard">
            <mat-label>Vrsta Prava</mat-label>
              <mat-select [(value)]="selected3" placeholder="unesi vrstu prava" formControlName="pnid">
                      <mat-option *ngFor="let option of idvp " [value]="option.pnid">
                        {{option.naziv}}
                      </mat-option>
                  </mat-select>
              <mat-hint>vrsta prava</mat-hint> 
          </mat-form-field>
           </div>
        <mat-form-field appearance="standard">
            <mat-label>DEO1</mat-label>
            <input  matInput placeholder="unesi oznaku" formControlName="deo1" required>
            <mat-hint>deo1</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>DEO2</mat-label>
            <input  matInput placeholder="unesi oznaku" formControlName="deo2" required>
            <mat-hint>deo2</mat-hint>
        </mat-form-field>
 
                

 <p>
  <button mat-raised-button color="primary" type="submit" [disabled]=!checkoutForm.valid>Sačuvaj</button>
 </p> 
</form>
</div>
<mat-divider></mat-divider>


 <div> 

    <form class="example-form box" >
        <mat-form-field class="example-full-width">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga" value="">
        </mat-form-field>
    </form>
         
 </div> 



<table id="my-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <!-- Position Column -->

  <!-- Name Column -->
  
  <ng-container matColumnDef="idobj">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Objekat </th>
    <td mat-cell *matCellDef="let element"> {{element.idobj.ko}} - {{element.idobj.broj}} </td>
  </ng-container>
  
  <ng-container matColumnDef="idnosilac">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nosilac prava </th>
    <td mat-cell *matCellDef="let element"> {{element.idnosilac.matbr}}  </td>
  </ng-container>
  <ng-container matColumnDef="idvp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta prava </th>
    <td mat-cell *matCellDef="let element"> {{element.idvp.naziv}}  </td>
  </ng-container>

  <ng-container matColumnDef="deo1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DEO1</th>
    <td mat-cell *matCellDef="let element"> {{element.deo1}} </td>
  </ng-container>
  
  <ng-container matColumnDef="deo2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DEO2</th>
    <td mat-cell *matCellDef="let element"> {{element.deo2}} </td>
  </ng-container>
  
  
   <ng-container matColumnDef="brisi">
    <th mat-header-cell *matHeaderCellDef style="text-align: end">      
        <button mat-icon-button color="primary" title="Štampa" (click)="print()">
          <mat-icon aria-label="Example icon-button with a heart icon">print</mat-icon>
        </button> </th>
    <td mat-cell *matCellDef="let element" style="text-align: end"> 
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" title="Izmena" (click)="update(element);">
           <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" title="Brisanje" (click)="delete(element.pnid)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button> </td>
  </ng-container>  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
