<meta charset="utf-8">
<div class="headerRow">	    
	<div>	
		<div class="header">
			<div class="logo">			
				<div class="header-naslov">Laboratorija za geoinformatiku </div>
        	</div>         
     	</div>	
	</div>
</div>

<div class="naslov">
  <h1>
    Geoportali i geoprostorni servisi
  </h1>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
  	<app-meni></app-meni>
  </mat-drawer>
  <mat-drawer-content>
  	<p><router-outlet></router-outlet></p>
  </mat-drawer-content>
</mat-drawer-container>
